@model Urgencias.Models.Paciente
@{
    ViewData["Title"] = "getPaciente";
}

@{
   
    DateTime FechaNow = DateTime.Now;
    string FechaNowString = FechaNow.ToString("yyyy-MM-ddThh:mm");
}
<h4 class="text-center">Paciente Atendido</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group">
                    <label>Id Paciente</label>
                    <input asp-for="idPaciente" class="form-control" readonly>
                    <span class="text-danger" asp-validation-for="idPaciente"></span>
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input asp-for="Nombre" class="form-control">
                    <span class="text-danger" asp-validation-for="Nombre"></span>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input asp-for="Apellido" class="form-control">
                    <span class="text-danger" asp-validation-for="Apellido"></span>
                </div>
                <div asp-for="Genero">
                    <label>Genero</label>
                    <br>
                    <select name="Genero" id="Genero" class="form-control">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="NoResponde">No Responde</option>
                    </select>
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input asp-for="FechaNacimiento" class="form-control" type="datetime-local" data-val="true"
                             max="@FechaNowString" min="1900-01-01T00:00">
                        <span class="text-danger" asp-validation-for="FechaNacimiento"></span>
                    </div>
                    <div class="form-group">
                        <label>Profesion</label>
                        <input asp-for="Profesion" class="form-control">
                        <span class="text-danger" asp-validation-for="Profesion"></span>
                    </div>
                    
        </form>
    </div>
</div>

@*Se agrega esta sección para que funcione la validación frontend*@
@section Scripts{
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}